[submodule "Development/External/spdlog"]
	path = Development/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Development/External/fmt"]
	path = Development/External/fmt
	url = https://github.com/fmtlib/fmt.git
